<div class="container mt-4">
  <h1 class="text-center"><%= @category.name %></h1>
  <h3 class="text-center mb-4">Chọn mức độ kỹ năng</h3>

  <div class="row justify-content-center">
    <% @difficulties.each do |difficulty| %>
      <div class="col-md-3">
        <div class="card text-center shadow-sm mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= difficulty %></h5>
          <%= link_to "Bắt đầu làm bài", users_question_path(id: @category.id, difficulty: difficulty, question_index: 0), class: "btn btn-primary btn-lg px-5 mt-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-3">
    <%= link_to "Quay lại", users_categories_path, class: "btn btn-secondary" %>
  </div>
</div>
