<div id="<%= dom_id chart %>">
  <p>
    <strong>Name:</strong>
    <%= chart.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= chart.email %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= chart.age %>
  </p>

</div>
