<h2>Đặt lại mật khẩu</h2>
<p>Xin chào <%= @resource.email %>,</p>

<p>Bạn đã yêu cầu đặt lại mật khẩu. Nhấp vào liên kết bên dưới để tiếp tục:</p>

<p><%= link_to 'Đặt lại mật khẩu', edit_user_password_url(reset_password_token: @token) %></p>

<p>Nếu bạn không yêu cầu, vui lòng bỏ qua email này.</p>
